<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <div class="contain-to-grid sticky">
      <nav class="top-bar">
       <ul class="title-area">
        <li class="name">
         <%= link_to_image("/image/logo.gif", root_path) %>
        </li>
       </ul>
      <section class="top-bar-section">
       <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "Buscar productos", products_path %></li>
       </ul>
        <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "Soluciones", solutions_path %></li>
       </ul>
      </section>
      </nav>
     
    </div>
      <div class="row">
       <div class="large-12 columns"><%= yield %></div>
      </div>
    <%= javascript_include_tag "application" %>

     <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
