<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Editar', edit_product_path(@product), class: "button radius" %> |
<%= link_to 'Atras', products_path, class: "button radius" %>
